.wrap * {
  padding: 0;
  margin: 0;
  text-align: left;
  overflow: hidden;
  font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
}

.wrap {
  width: 200px;
  height: 54px;
}

.wrap .info {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 202px;
  height: 56px;
  padding: 5px;
  overflow: hidden;
  background: #fff;
}

.info .title {
  height: 18px;
  padding-top: 3px;
  border-bottom: 1px solid rgb(220, 220, 220);
  font-size: 12px;
  font-weight: bold;
}

.info .body {
  position: relative;
  padding-top: 5px;
  overflow: hidden;
}

.info .desc {
  position: relative;
  font-size: 10px;
}

.desc .ellipsis {
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.desc .category {
  color: #888;
}
